body {
	font-family: 'Roboto', sans-serif;
}

#textMessageBox > ul,
#friendSpaceBox > ul {
	margin-top: 0px;
	padding: 0px;
}

#textMessageBox,
#friendSpaceBox {
	padding: 20px;
}

#textMessages,
#friendSpaceFeed {
	list-style: none;
}

#textMessageBox {
	overflow: auto;
	width: 380px;
	height: 680px;
	background: black;
	color: white;
}

#friendSpaceBox {
	overflow: auto;
	width: 380px;
	height: 680px;
	background: lightblue;
	color: black;
}

#textMessageBox > h3 {
	color: lightgrey;
	text-align: center;
	margin-top: 0px;
}

#textMessages > li > small {
	color: lightgrey;
	text-align: right;
}

#friendSpaceBox > h3 {
	text-align: center;
	color: darkblue;
	margin-top: 0px;
}

#friendSpaceBox > p {
	color: darkgrey;
	text-align: center;
	margin-top: 0px;
}

#textMessages > li {
	color: white;
	padding: 8px;
	margin-bottom: 12px;
	border-radius: 6px;
}

#friendSpaceFeed > li {
	background: white;
	padding: 8px;
	margin-bottom: 12px;
	border-radius: 6px;
}

#acceptanceMessage {
	background: darkgreen;
}

#rejectionMessage {
	background: darkred;
}

#keyMessage {
	background: darkblue;
}

#defaultMessage {
	background: #404040;
}

#createPost {
	margin-bottom: 20px;
}

#createPost > textarea {
	width: 98%;
	resize: none;
}

#createPost > h4 {
	margin: 10px 0;
}

#friendSpaceFeed > li > b {
	color: darkblue;
}

#friendSpaceFeed > li > small {
	color: grey;
}