#textMessageBox {
	overflow: auto;
	width: 600px;
	height: 200px;
	background: black;
	color: white;
}

#textMessages {
	list-style: none;
}

ul {
	padding-left: 6px;
	margin-top: 6px;
}

li {
	margin-bottom: 6px;
}

#acceptanceMessage {
	color: green;
}

#rejectionMessage {
	color: red;
}

#keyMessage {
	color: grey;
}

#faceSpaceBox {
	overflow: auto;
	width: 600px;
	height: 200px;
	background: darkblue;
	color: white;
}

#faceSpaceFeed {
	list-style: none;
}